body {
  background-color: rebeccapurple;
  display: grid;
  grid-template-columns: 1fr 4fr 1.5fr;
  justify-content: center;

  background: radial-gradient(circle, #22499C, #00277A 50vh);
  height: 95vh;
  overflow: auto;
  font-family: "JetBrains Mono",monospace;
  color: white;
  
  align-items: center;
  gap: 10px;
}

h1 {
  font-size: 20px;
  text-align: center;
}

.task-view {
  height: 95vh;
  border: 1px solid red;
}

.task-form-wrapper-all {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.kanban-view-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
  gap: 15px;
  padding: 20px;
}

.task-form-wrapper-kanban {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  gap: 15px;
  padding: 20px;
}

.kanban-section {
  border: 1px solid green;
}

.view-wrapper {
  display: grid;
  height: 95vh;
  border: 1px solid red;
}

.create-wrapper {
  display: grid;
  height: 95vh;
  border: 1px solid red;
}


/* Buttons */

.btn-wrapper {
  display: grid;
  grid-auto-flow: column;
  gap: 50px;
}

#new-task-btn,
#new-project-btn,
.show-all-btn,
.show-kanban-btn,
.show-calendar-btn {
    margin-top: 50px;
    position: relative;
    place-self: center;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 42px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px; 
}

#new-task-btn:hover, 
#new-project-btn:hover,
.show-all-btn:hover,
.show-kanban-btn:hover,
.show-calendar-btn:hover  {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

#new-task-btn:active,
#new-project-btn:active,
.show-all-btn:active,
.show-kanban-btn:active,
.show-calendar-btn:active  {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}


/* FORM STYLING */

form {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  margin: 10px;
  gap: 8px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

  form > input,
  form > textarea {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: none;
  }

  form > input:hover,
  form > textarea:hover {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 2px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    border: none;
  }


  
/* Select Dropdowns */

select,
::picker(select) {
    appearance: base-select;
    border: none;
}

select::picker-icon {
    display: none;
}

select:open::picker-icon {
    rotate: 180deg;
}

::picker(select) {
    border: none;
}

option {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    color: white;

    /* border: 2px solid #ddd; */
    /* background: #3e69b8; */
    padding: 10px 20px 10px 10px;
    transition: 0.4s;
}

option:not(option:last-of-type) {
    border-bottom: none;
}

/* option:nth-of-type(odd) {
    background: #3e69b8ee;
} */

option:hover,
option:focus {
    background: rgb(216, 193, 91);
}

option:checked {
    font-weight: 200;
}

.default-priority {
  background: none;
}

.low-priority {
  background: rgb(43, 43, 234);
}

.medium-priority {
  background: rgb(236, 121, 38);
}

.high-priority {
  background: rgb(240, 59, 59);
}